body * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	height: auto;
	grid-template-columns: 50px 50px 50px;
	grid-template-rows: 50px 50px 50px;
	border: solid 4px;
}

.scoreboard-container {
	display: flex;
	width: 175px;
	height: auto;
	justify-content: space-between;
}

.messages {
	display: flex;
}

.controls-container {
	display: flex;
	width: 150px;
	justify-content: space-between;
}

.cell {
	display: flex;
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
	border: solid 1px;
	font-size: 3rem;
}


.cell:hover {
	background-color: grey;
}

.messages {
	height: 20px;
}

.form-container div {
	display: flex;
	flex-direction: column;
}

.modal-container {
	position: relative;
}

#enterPlayersDialog {
	position: absolute;
	border-radius: 8px;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	padding: 5px;
	margin: 5px;
}

